@import url("./navbar.css");
@import url("./dashboard.css");
@import url("./menu.css");
@import url("./inventory.css");
@import url("./varients.css");
@import url("./PageNotFound.css");
@import url("./sales.css");
@import url("./search.css");
@import url("./createProductForm.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

body{
    padding: 0;
    margin: 0;
    /* background: #f5e4e8 !important; */
    margin: 0; 
    height: 100%;
    /* overflow: hidden !important; */
}


.navigation{
    background: #ffafc3;
}

/* this is sign in css */
.signinForm{
    margin: auto;
    padding: 10px;
    height: 2em;
}

.exrra{
    min-height: 100vh;
    height: 100vh;
    padding: 0;
    margin: 0 auto;
}


.form-container{
    width: 75%;
    margin: auto;
    text-align: center;
}

form{
    text-align: left;
}

.err-msg{
    text-align: center;
    color: #333;
}

.main-err-msg{
    text-align: center;
    margin: auto;
    display: flow;
}

#main-img-container{
    height: 100vh;
    overflow: hidden;
    background-image: url("https://i.pinimg.com/originals/0d/9a/58/0d9a585fd1782e1451af95db30044bcc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.clear{
    display: inline-block;
    width: 70%;
    margin: auto;
    clear: both;
}

.empty{ border: 2px solid red !important; }
 

.sales-nav-container, .search-nav-container, .dashboard-nav-container{
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
}
.sales-title, .search-title, .dashboard-title{
    color: #4F5366;
    font-size: 25pt;
}

@media only screen and (max-width: 770px) {
    .align-text-center {
      text-align:center;
    }

    .center-sm{
        margin: auto;
        width: 50%;
    }
    .clear{
        display: block;
    }

  }