
.PageNotFound{
    text-align: center;
    padding: 2em;
}

.PageNotFound h1{
    font-size: 65pt;
    color: lightpink;
    font-weight: 900;
}

.PageNotFound h5{
    font-size: 35pt;
    font-weight: 700;
    margin-bottom: 3em;
}

.PageNotFound p{
    margin-bottom: 3em;
}

.pagenotfoun-btn{
    border: none;
    border-radius: 1em;
    background-color: lightpink;
    text-decoration: none;
    color: #fff;
    padding: 1em 2em;
}